/* グローバル変数を定義。フェードイン時の移動距離と写真アニメーションの期間。 */
:root {
    /* フェードイン時の降下値 */
    --height: -50%;
    --pictureAnimate: 20s;
}

/* フルスクリーンの背景コンテナ。画面全体を覆う大きさで、オーバーフローは隠す。背景にグラデーションを設定し、アニメーションで動きを付ける。 */
.photo-shower-container {
    position: relative;
    height: 100vh;
    /* コンテナの高さ */
    width: 100%;
    /* コンテナの横幅 */
    overflow: hidden;
    /* コンテナからはみ出した要素を隠す */
    background-image: linear-gradient(to right, #000b1a 0%, #0b193c 100%);
    background-size: 200% 200%;
    /*サイズを大きくひきのばす*/
    animation: bggradient 5s linear infinite;
}

/* コンテナの背景。高さと幅は画面全体。 */
.photo-shower-back {
    height: 100vh;
    /* コンテナの高さ */
    width: 100%;
    /* コンテナの横幅 */
}

/* 背景のグラデーションアニメーション。位置を変えて動きを表現。 */
@keyframes bggradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* 影を持つ背景要素。 */
.backgound {
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5);
}

/* フェードアップアニメーション。位置や変形を調整。 */
.fadeUp {
    position: absolute;
    /* ここは動的に変更したい */
    left: 30%;
    transform: translate(0, -50%);
    animation: fadeUpAnime 3s forwards;
}

/* フェードアップのキーフレームアニメーション。 */
@keyframes fadeUpAnime {
    from {
        top: -50%;
    }

    to {
        top: 50%;
        transform: translate(0, var(--height));
    }
}

/* 「ふわふわ」アニメーション。ゆっくりとした上下運動。 */
.anime-fuwafuwa {
    animation: 3s fuwafuwa infinite;
}

/* ふわふわアニメーションのキーフレーム。 */
@keyframes fuwafuwa {

    0%,
    100% {
        top: 50%;
        transform: translate(0, var(--height));
    }

    50% {
        transform: translate(5%, var(--height));
    }
}

/* フェードアウトアニメーション。透明度を変化させる。 */
.fadeout {
    animation: 3s fuwafuwa infinite, fadeout-anim 3s linear forwards;
}

/* フェードアウトのキーフレームアニメーション。 */
@keyframes fadeout-anim {
    100% {
        opacity: 0;
    }
}

/* 写真のスタイル設定。絶対位置指定、影、アニメーション。 */
.picture {
    position: absolute;
    top: 50%;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5);
    transform: translate(-50%, -50%);
    animation: animate-picture var(--pictureAnimate) ease-in-out;
}

/* 写真の最大サイズを制限。 */
.pic {
    max-width: 600px;
    max-height: 600px;
}

/* 写真の移動と変形を行うアニメーション。 */
@keyframes animate-picture {
    0% {
        left: -50%;
    }

    15% {
        transform: translate(-50%, -50%);
        left: 50%;
    }

    16% {
        transform: translate(-50%, -50%);
        left: 50%;
    }

    30% {
        transform: translate(-50%, -50%) scale(1.3);
        visibility: visible;
    }

    70% {
        transform: translate(-50%, -50%) scale(1.3);
    }

    85% {
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    86% {
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        left: 50%;
        transform: translate(-50%, -300%);
    }
}

/* メインコンテンツの位置設定。 */
.content {
    position: relative;
}

/* スコア表示のスタイル。位置、フォントサイズ、色を設定。 */
.score {
    position: absolute;
    visibility: hidden;
    bottom: 0;
}

.num {
    position: absolute;
    top: 45px;
    font-size: 40px;
    left: 35px;
    color: red;
}

.percent {
    position: absolute;
    top: 70px;
    font-size: 16px;
    left: 90px;
}

/* フェードインアニメーションのキーフレーム。 */
.fadeIn {
    animation: fadeInAnime 500ms forwards;
    opacity: 0;
}

@keyframes fadeInAnime {
    0% {
        opacity: 0;
        transform: scale(1.4);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* ボタンの状態に応じた透明度の変化。 */
button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.6;
}

button:disabled {
    opacity: 0.4;
}

/* スライダーのスタイル。外観、背景色、サイズを設定。 */
.input-range[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #c7c7c7;
    height: 2px;
    width: 70%;
}

.input-range[type="range"]:focus {
    outline: none;
}

.input-range[type="range"]:active {
    outline: none;
}

.input-range[type="range"]:disabled {
    opacity: 0.4;
}

/* スライダーのつまみのスタイル。外観、位置、大きさ、背景色。 */
.input-range[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    border: none;
    width: 16px;
    height: 16px;
    display: block;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

/* スライダーのラベルスタイル。色、余白を設定。 */
.range-label {
    color: #fff;
    margin: 5px;
}

/* 入力フィールドのスタイル。位置、幅を設定。 */
#inputField {
    position: absolute;
    bottom: 30px;
    left: 4%;
    width: 100%;
}

/* 入力ボタンのスタイル。背景、境界線、色、フォント、角の丸み、余白。 */
.inputButton {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 24px;
}

/* 終了時の白いレイヤー。位置、サイズ、背景色、アニメーション。 */
.finishLayer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    /* 初期の透過度を1に設定 */
    animation: white 3s ease-in-out forwards;
}

/* 白いレイヤーのアニメーション。透明度の変化。 */
@keyframes white {
    0% {
        background-color: rgba(255, 255, 255, 0);
        /* 透過度を0に変更 */
    }

    100% {
        background-color: rgba(255, 255, 255, 0.15);
        /* 透過度を1に変更 */
    }
}

/* 終了時の写真スタイル。位置、影、変形、アニメーション。 */
.end-picture {
    position: absolute;
    top: 50%;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5);
    transform: translate(-50%, -50%);
    animation: end-animate-picture var(--pictureAnimate) ease-in-out forwards;
}

/* 終了時の写真アニメーション。 */
@keyframes end-animate-picture {
    0% {
        left: -50%;
    }

    15% {
        transform: translate(-50%, -50%);
        left: 50%;
    }

    16% {
        transform: translate(-50%, -50%);
        left: 50%;
    }

    30% {
        transform: translate(-50%, -50%) scale(1.3);
        visibility: visible;
    }

    70% {
        transform: translate(-50%, -50%) scale(1.3);
    }

    100% {
        left: 50%;
        transform: translate(-50%, -50%) scale(1.3);
    }
}

/* 結果発表の画像スタイル。サイズ、位置、表示状態。 */
#finishFlags {
    width: 100%;
    z-index: 1;
    position: absolute;
    display: none;
}

/* 結果発表の画像スタイル。サイズ、位置、表示状態。 */
#cracker {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 10px;
    display: none;
}